{% extends 'base.html' %}

{% block head %}
    <script src="{{url_for('static', filename='page.js')}}"></script>
    <title>Gerir Fornecedores</title>
{% endblock %}

{% block title %}
    <h1>Gerir Fornecedores</h1>
{% endblock %}

{% block body %}
    <div class="management-grid">
        <div class="elements">
            {% if not suppliers %}
                <h2>Não existem fornecedores.</h2>
            {% else %}
                {% for i in range(pcount) %}
                    <div class="page" id="{{ i }}" {% if not loop.first %} style="display: none;" {% endif %}>
                        {% for j in range(i*psize, i*psize + psize) if j < suppliers|length %}
                            <form action="/gerir-fornecedores/{{ suppliers[j].id }}/delete" method="POST">
                                <label>Fornecedor nº {{ suppliers[j].id }}, {{ suppliers[j].name }}</label>
                                <input id="delete-{{ suppliers[j].id }}" type="submit" value="Apagar" onclick="return confirm('Esta ação vai remover permanentemente o fornecedor {{ suppliers[j].id }} e todas as suas dependências, deseja prosseguir?');">
                            </form>
                        {% endfor %}
                        {% if not loop.first %}
                            <button class="nav-btn" onclick="return previousPage(this)">
                                Anterior
                            </button>
                        {% endif %}
                        {% if not loop.last %}
                            <button class="nav-btn" onclick="return nextPage(this)">
                                Seguinte
                            </button>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="add-form">
            <h2>Novo Fornecedor</h2>
            <form action="/gerir-fornecedores/add" method="POST">
                <label for="tin">TIN</label>
                <br>
                <input id="tin" type="number" name="tin" required>
                <br>
                <label for="name">Nome (Opcional)</label>
                <br>
                <input id="name" type="text" name="name">
                <br>
                <label for="address">Morada (Opcional)</label>
                <br>
                <input id="address" type="text" name="address">
                <br>
                <label for="address">SKU (Opcional)</label>
                <br>
                <input id="sku" type="text" name="sku">
                <br>
                <input id="submit" type="submit" value="Adicionar">
            </form>    
        </div>
    </div>
{% endblock %}